<div class="section" id="about">
    <div class="container">
      <div class="card"  data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12" data-aos="fade-right">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <hr>
              <p>Hi I'm <strong>Rajesh S Nair</strong> , a Software Professional currently working<!-- under the designation of <strong>Senior Software Engineer</strong>--> at PVH Europe B.V.Amsterdam

              <p>       
                  I have a keen interest in learning new technologies and deep diving to explore.I am founding member of MongoDB Champions Program and also Bengaluru MongoDB User Group Leader
                                        
              </p>
              <p>Having <strong>around 10 years of experience in IT Industry</strong> has helped harness skills in various technologies and tools.
                I have tried to express and share my experience and knowledge through my youtube tech channel
              <strong> "VeMaRa Hub"</strong></p>
                <p>Check out the video to have a peek at it:</p>
              
                <section id="how-it-works">
                  <iframe
                    id="video"
                    height="315"
                    src="https://www.youtube-nocookie.com/embed/zGkkrc2LT0Y?rel=0&amp;controls=0&amp;showinfo=0"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </section>

                 

          
              
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12" data-aos="fade-left">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <hr>
    
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">rajeshsnair99@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+91-9742149998</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Almere, Netherlands
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
