<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Certifications / Courses</div>
          <hr>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
                  <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-5">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/mongodb1.png" alt="Image" />
                      <figcaption>
                        <div class="h4">M102 Mongo DB for DBAs</div>
                        <p>Mongo University</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/mongojava.png" alt="Image" />
                      <figcaption>
                        <div class="h4">M101J: Mongo DB for Java Developers</div>
                        <p>Mongo University</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/aws1.png" alt="Image" />
                      <figcaption>
                        <div class="h4">AWS Solution Training For Partners:Tailored(Classroom)</div>
                        <p>Amazon Web Services</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/fcc_web.PNG" alt="Image" />
                      <figcaption>
                        <div class="h4">Responsive Web Design</div>
                        <p>FreeCodeCamp</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>

              
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/linux1.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Linux Grade 5 System Support Sr Associate</div>
                        <p>NTT DATA Learning & Certification Institute</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/mongo3.png" alt="Image" />
                      <figcaption>
                        <div class="h4">M103: Basic Cluster Administration</div>
                        <p>Mongo University</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
           
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <a href="#">
                    <figure class="cc-effect">
                      <img src="assets/images/aws2.png" alt="Image" />
                      <figcaption>
                        <div class="h4">Learn Amazon Web Services</div>
                        <p>Udemy</p>
                      </figcaption>
                    </figure>
                  </a>
                </div>
              </div>
           
</div>

          </div>
        </div>
        
      </div>
    </div>
  </div>