<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
<hr>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>Currently Pursuing</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master of Bussiness Administration (MBA)</div>
               <h4 >IGNOU, New Delhi</h4>
               <ul>
                <li> Currently in second year of Master of Bussiness Administration through open university IGNOU.</li>
               
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2007 - 2011</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Technology (B.Tech)</div>
               <h4>College of Engineering , Attingal</h4>
               <ul>
                <li> College of Engineering is a CUSAT Affiliated IHRD college </li>
                    <li>Completed B.Tech in Computer Engineering with <b>77.25 %</b>.</li>
               
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2005 - 2007</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary (XII)</div>
               <h4>Ajanta Public School,Gurgaon
               </h4>
               <ul>
           
                                  <li>
                                      Completed  with<b> 90.4%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      