<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title projects-section-header">Projects / Clients Worked For</div>
        <hr>
            
     <div class="row">    
           <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
    <!--  <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%"> -->  
        <div class="card-body">
          <div class="card-title">Graphic Packaging International (GPI), Netherlands</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Progress Openedge Database</div>
          <div class="card-text"><b>Domain :</b> ERP</div>
          <div class="card-text"><b>Operating System :</b> Windows 2008 R2</div>
          <div class="card-text"><b>DB Version :</b> 10.2A,10.2B</div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Russel Investments, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Mongo Database</div>
          <div class="card-text"><b>Domain :</b> Banking</div>
          <div class="card-text"><b>Operating System :</b> Windows 2012</div>
          <div class="card-text"><b>DB Version :</b> 4.0</div>
        </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Ahold, Netherlands</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Progress Openedge Database</div>
          <div class="card-text"><b>Domain :</b> Retail</div>
          <div class="card-text"><b>Operating System :</b> Solaris</div>
          <div class="card-text"><b>DB Version :</b> 9.x,10.1C,10.2A,10.2B</div>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Avon, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Progress OpenEdge Database</div>
          <div class="card-text"><b>Domain :</b> Retail/Cosmetics</div>
          <div class="card-text"><b>Operating System :</b> Linux RHEL</div>
          <div class="card-text"><b>DB Version :</b> 10.2 B</div>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Ocwen, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Progress OpenEdge Database</div>
          <div class="card-text"><b>Domain :</b> Banking</div>
          <div class="card-text"><b>Operating System :</b>Solaris,Linux RHEL</div>
          <div class="card-text"><b>DB Version :</b> 11.7</div>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" data-aos="fade-up">
            <div class="card-body">
              <div class="card-title">Make My Trip, India</div>
              <hr>
              <div class="card-text"><b>Technology :</b> Progress Openedge Database,Progress 4GL</div>
              <div class="card-text"><b>Domain :</b> Travel Booking</div>
              <div class="card-text"><b>Operating System :</b>Linux RHEL</div>
              <div class="card-text"><b>DB Version :</b> 10.2B</div>
            </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Mediterranean Shipping Company (MSC), Italy</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Java,Progress Openedge Database</div>
          <div class="card-text"><b>Domain :</b> Cruise Travel</div>
          <div class="card-text"><b>Operating System :</b> AIX,Linux RHEL</div>
          <div class="card-text"><b>DB Version :</b> 10.2A,10.2B</div>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Australian Pacific Touring(APT), Australia</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Java,Spring,Hibernate,Web Services</div>
          <div class="card-text"><b>Domain :</b> Cruise Travel</div>
          <div class="card-text"><b>Role :</b> Team Lead /Java Developer</div>
        </div>
        </div>
        </div>
      </div>
    
      
    
    
    </div>
    </div>
  </div>