<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title projects-section-header">Projects / Clients Worked For</div>
        <hr>
            
     <div class="row">    
           <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
    <!--  <img class="card-img-top" src="assets/images/p11.PNG" alt="Card image" style="width:100%"> -->  
        <div class="card-body">
          <div class="card-title">Graphic Packaging International (GPI), Netherlands</div>
          <hr>
          <div class="card-text"><b>Technology :</b> MongoDB,Progress Openedge,Python</div>
          <div class="card-text"><b>Domain :</b> ERP</div>
         
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Russel Investments, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b>MongoDB</div>
          <div class="card-text"><b>Domain :</b> Banking</div>   
          </div>
    </div>
    </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Ahold, Netherlands</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Java,ProgressDB,MongoDB</div>
          <div class="card-text"><b>Domain :</b> Retail</div>       
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Avon, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Progress Openedge</div>
          <div class="card-text"><b>Domain :</b> Retail/Cosmetics</div>        
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Ocwen, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b> MongoDB,Progress Openedge,Java</div>
          <div class="card-text"><b>Domain :</b> Banking</div>    
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" data-aos="fade-up">
            <div class="card-body">
              <div class="card-title">Make My Trip, India</div>
              <hr>
              <div class="card-text"><b>Technology :</b> Java,Progress 4GL</div>
              <div class="card-text"><b>Domain :</b> Travel Booking</div>            
            </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Mediterranean Shipping Company (MSC), Italy</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Java,Spring,Struts,Hibernate</div>
          <div class="card-text"><b>Domain :</b> Cruise Travel</div>        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">Australian Pacific Touring(APT), Australia</div>
          <hr>
          <div class="card-text"><b>Technology :</b> Java,Spring,Hibernate,Web Services</div>
          <div class="card-text"><b>Domain :</b> Cruise Travel</div>     
        </div>
        </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" data-aos="fade-up">
        <div class="card-body">
          <div class="card-title">WellsFargo, US</div>
          <hr>
          <div class="card-text"><b>Technology :</b> MongoDB,Python,AWS</div>
          <div class="card-text"><b>Domain :</b> Banking</div>      
        </div>
        </div>
        </div>
      </div>
      
    
    
    </div>
    </div>
  </div>